# Job Recommendation System

# import lib

1-data aquisition
2-text preprocessing
basic preprocessing
advanced preprocessing
3-feature extraction or feature engineering
4-evalution model
5-deployment

In [1]:
import pandas as pd
import numpy as np

In [2]:
#load dataset
df = pd.read_csv('Combined_Jobs_Final.csv')

# data analysis

In [3]:
df.head()

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC
3,121,1,open,brisbane-ca-teriyaki-house-server,Server @ Teriyaki House,Server,Teriyaki House,Brisbane,California,CA,...,Food and Beverages,● Serve food/drinks to customers in a profess...,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-09-04 15:40:30 UTC,2014-08-16 15:35:38 UTC
4,127,1,open,los-angeles-ca-rosa-mexicano-sunset-kitchen-st...,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,Los Angeles,California,CA,...,Food and Beverages,"Located at the heart of Hollywood, we are one ...",NaN,10.55,NaN,NaN,Part-Time,NaN,2013-07-17 15:26:18 UTC,2014-08-16 15:35:40 UTC

In [4]:
df.shape

(84090, 23)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84090 entries, 0 to 84089
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job.ID              84090 non-null  int64
 1   Provider            84090 non-null  int64
 2   Status              84090 non-null  object
 3   Slug                84090 non-null  object
 4   Title               84090 non-null  object
 5   Position            84090 non-null  object
 6   Company             81819 non-null  object
 7   City                83955 non-null  object
 8   State.Name          83919 non-null  object
 9   State.Code          83919 non-null  object
 10  Address             36 non-null     object
 11  Latitude            84090 non-null  float64
 12  Longitude           84090 non-null  float64
 13  Industry            267 non-null    object
 14  Job.Description     84034 non-null  object
 15  Requirements        0 non-null      float64
 16  Salary              229 non-null    float64
 17  Listing.Start       83407 non-null  object
 18  Listing.End         83923 non-null  object
 19  Employment.Type     84080 non-null  object
 20  Education.Required  83823 non-null  object
 21  Created.At          84090 non-null  object
 22  Updated.At          84090 non-null  object
dtypes: float64(4), int64(2), object(17)
memory usage: 14.8+ MB

In [6]:
df.isnull().sum()

Job.ID                    0
Provider                  0
Status                    0
Slug                      0
Title                     0
Position                  0
Company                2271
City                    135
State.Name              171
State.Code              171
Address               84054
Latitude                  0
Longitude                 0
Industry              83823
Job.Description          56
Requirements          84090
Salary                83861
Listing.Start           683
Listing.End             167
Employment.Type          10
Education.Required      267
Created.At                0
Updated.At                0
dtype: int64

In [7]:
df.duplicated().sum()

0

#summarization
1-have null values in data
2-no duplicated value
3-23 columns
4-84090 rows

In [8]:
df.head(3)

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.0,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.0,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.0,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC

In [9]:
#have important columns
df = df[['Status', 'Title', 'Position', 'Company', 'Job.Description']]

In [10]:
df.head()

,Status,Title,Position,Company,Job.Description
0,open,Server @ Tacolicious,Server,Tacolicious,Tacolicious' first Palo Alto store just opened...
1,open,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,open,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...
3,open,Server @ Teriyaki House,Server,Teriyaki House,● Serve food/drinks to customers in a profess...
4,open,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,"Located at the heart of Hollywood, we are one ..."

In [11]:
df.isnull().sum()

Status                0
Title                 0
Position              0
Company            2271
Job.Description      56
dtype: int64

In [12]:
df.fillna('',inplace=True)

In [13]:
df.isnull().sum()

Status             0
Title              0
Position           0
Company            0
Job.Description    0
dtype: int64

In [14]:
df = df.sample(n=1000,random_state=42)

In [15]:
df.shape

(1000, 5)

#  data cleaning and preprocessing

keeping all letters and digits
lover case
removing stopwords
tokenization
stemming

In [16]:
from nltk.corpus import stopwords
import nltk
import re
from nltk.stem.porter import PorterStemmer

In [17]:
df.head()

,Status,Title,Position,Company,Job.Description
64119,open,Site Director @ Knowledge Universe,Site Director,Knowledge Universe,Job Summary Knowledge Universe (KU) Site Direc...
35827,open,Administrative Assistant @ OfficeTeam,Administrative Assistant,OfficeTeam,Ref ID: 03110-118480Classification: Secretary/...
72100,open,Account Manager @ CHI Payment Systems,Account Manager,CHI Payment Systems,"If you&rsquo;re energetic, motivated, hardwork..."
46355,open,Outside Wholesale Sales Rep (PART-TIME) @ Rive...,Outside Wholesale Sales Rep (PART-TIME),River Front Chrysler Jeep Dodge,OUTSIDE WHOLESALE SALES REP\r\n\r\nJob Respons...
34166,open,Customer Service Rep- Help People with Hearing...,Customer Service Rep- Help People with Hearing...,CaptionCall,CaptionCall® Communication Assistant Imagi...

In [23]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\hp\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.7)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.1.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [20]:
from nltk.corpus import stopwords
import nltk
import re
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [29]:
df.shape

(1000, 5)

In [44]:
import re
def remove_tags(raw_text):
    cleaned_text = re.sub(re.compile('<.*?>'), '', raw_text)
    return cleaned_text

In [46]:
df['clean_text'] = df['clean_text'].apply(remove_tags)

In [60]:
df['clean_text'] = df['clean_text'].apply(lambda x:x.lower())

In [48]:
def cleaning(txt):
#     step 1
    txt = re.sub(r'[^a-zA-Z0-9\s]','',txt)
    return txt

In [49]:
df['clean_text'] = df['clean_text'].apply(cleaning)

In [61]:
df['clean_text'] = df['Job.Description']+" "+df['Title']+df['Position']
df['clean_text'][64119]

'Job Summary Knowledge Universe (KU) Site Directors are site leaders who inspire children and teachers alike to learn and grow. They are passionate about educational excellence, and confident teaching children and adults. They use our nationally recognized curriculum as a framework to create unique and engaging classroom experiences. They are committed to making their site successful and know that meaningful relationships with children, families, and their team are important to success. They are fully engaged, enthusiastic about their work, and eager to share their knowledge with others.  Job Responsibilities and Essential Functions These are the basic expectations for Site Directors. Of course, creative and new ways to meet or exceed expectations are encouraged, so long as the required essential functions are also met. •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 supervision of children and staff  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 record keeping  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 licensing records and child files  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 lesson planning and implementation  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 maintenance of safe and welcoming classroom environment  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 building of relationships with the community and school  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 recruiting new students to the program  •\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0 applicant must have strong organizational skills  Site Director @ Knowledge UniverseSite Director'

# feature engineering and vectorization

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [62]:
tfidf = TfidfVectorizer(stop_words='english')
matrix = tfidf.fit_transform(df['clean_text'])
similarity = cosine_similarity(matrix)

In [63]:
similarity[0]

array([1.00000000e+00, 4.31671308e-02, 1.58432305e-02, 1.21482558e-02,
       4.01245422e-02, 7.88732705e-03, 2.74066608e-02, 2.74195261e-02,
       5.16345712e-03, 3.11051513e-02, 1.47386272e-02, 2.23152697e-02,
       1.25219748e-02, 1.19885077e-02, 4.00203478e-03, 3.59117929e-03,
       1.94493733e-02, 3.10100808e-02, 3.37108945e-02, 1.84587729e-02,
       0.00000000e+00, 1.68105196e-02, 1.62527184e-02, 3.95609231e-03,
       3.55352228e-02, 2.87972097e-02, 3.04566045e-02, 1.64991873e-02,
       1.31122702e-02, 3.43830453e-02, 1.22969201e-02, 3.73035701e-02,
       4.91143692e-03, 2.68868006e-02, 5.83783005e-03, 3.06915236e-02,
       1.28647954e-02, 3.17706351e-02, 1.32034134e-01, 1.20719874e-02,
       3.98869854e-02, 5.24235379e-03, 3.91040782e-03, 3.37064364e-02,
       2.32907363e-02, 3.14812288e-02, 5.71832518e-02, 1.51970830e-02,
       3.03927528e-02, 0.00000000e+00, 5.11906834e-03, 1.55236015e-02,
       9.00478498e-02, 1.25741640e-02, 2.25091690e-02, 3.16132491e-03,
       4.13340553e-02, 5.39144950e-02, 9.82425069e-03, 1.11672765e-01,
       3.51198948e-02, 3.49668328e-03, 2.57420637e-02, 3.17694880e-02,
       4.31286854e-02, 6.14776068e-03, 1.51752321e-02, 2.48080700e-02,
       1.24858335e-02, 3.86998281e-02, 6.27656382e-03, 0.00000000e+00,
       7.87614309e-02, 1.27370417e-02, 2.69632856e-02, 1.28135621e-02,
       2.54184334e-02, 1.14224225e-02, 7.96836462e-03, 2.64268621e-02,
       1.68614974e-02, 4.53674105e-01, 8.30455572e-03, 1.55291615e-02,
       3.40424358e-02, 2.09809915e-02, 1.29707616e-02, 2.30753995e-02,
       2.18496533e-02, 2.63076608e-02, 3.28442619e-02, 4.48047103e-03,
       2.47760909e-02, 2.08462160e-02, 5.26352017e-02, 4.25161545e-03,
       4.23508896e-02, 2.46677827e-02, 1.72837464e-02, 9.69930431e-03,
       1.46723683e-02, 1.24947129e-02, 1.43862455e-02, 1.04356783e-03,
       2.03429063e-02, 2.81948765e-02, 2.03429063e-02, 7.03482094e-03,
       1.06666110e-02, 0.00000000e+00, 6.04112948e-02, 1.81080421e-02,
       5.02271738e-02, 9.71897250e-02, 1.07978271e-01, 7.04051186e-02,
       0.00000000e+00, 2.20276840e-02, 8.95024234e-03, 7.38545188e-03,
       3.37752756e-02, 4.01529027e-02, 3.20674772e-02, 1.46326811e-02,
       8.12224459e-02, 8.34555049e-03, 2.32907363e-02, 6.91771667e-03,
       2.10341237e-01, 9.04386619e-03, 1.68369399e-02, 1.78615768e-02,
       4.17114663e-02, 2.52786383e-02, 5.34297066e-02, 6.82214952e-02,
       2.39234240e-02, 0.00000000e+00, 9.76230179e-03, 1.41163766e-02,
       3.12252209e-03, 2.62039644e-02, 6.23228647e-03, 2.16475408e-02,
       8.32752990e-03, 5.39228760e-03, 1.26439247e-02, 3.54842720e-02,
       1.89902153e-02, 4.42049215e-02, 0.00000000e+00, 1.33993939e-02,
       3.50190648e-02, 5.15875146e-03, 1.68723594e-02, 5.06581332e-03,
       1.01616793e-02, 5.05648083e-02, 3.35248933e-02, 2.65963921e-02,
       3.69071294e-02, 3.00072574e-02, 1.78913551e-03, 4.14080889e-02,
       9.54929954e-03, 9.63418377e-03, 0.00000000e+00, 2.51145108e-02,
       3.03806893e-02, 1.61751563e-02, 4.13430255e-03, 1.04811138e-02,
       9.66387807e-03, 3.43830453e-02, 1.69863627e-03, 3.43830453e-02,
       3.61257726e-02, 1.76480997e-02, 2.55395358e-02, 1.53169335e-02,
       3.51408232e-02, 8.16434412e-03, 1.05904477e-02, 0.00000000e+00,
       2.05372932e-02, 2.01127583e-02, 3.37108945e-02, 2.53524229e-02,
       1.60718573e-02, 2.75567378e-02, 4.87838059e-03, 2.08387937e-02,
       0.00000000e+00, 4.95565413e-02, 2.18634662e-02, 1.12984717e-01,
       4.56816607e-02, 2.84545073e-02, 5.08305513e-02, 1.13829152e-02,
       1.71151911e-02, 7.90751201e-03, 3.10537674e-02, 2.82353954e-02,
       3.01548113e-02, 6.92596150e-02, 2.53293742e-02, 4.45147230e-02,
       3.34283646e-02, 3.99392519e-02, 3.66952587e-02, 7.75222229e-03,
       2.42393277e-02, 3.75120983e-02, 2.72673877e-02, 1.57736302e-02,
       6.11581734e-02, 2.31922727e-03, 2.96891392e-02, 1.24262332e-02,
       4.42049215e-02, 4.15895877e-02, 1.94415217e-02, 3.63118577e-02,
       3.66000943e-02, 1.72458425e-02, 3.06468311e-03, 2.02060338e-02,
       0.00000000e+00, 5.60288418e-02, 3.49668328e-03, 1.14467246e-02,
       7.42387765e-03, 2.47694664e-02, 2.63966367e-02, 2.41563812e-02,
       4.08722041e-03, 4.42049215e-02, 2.33581350e-03, 2.45661059e-02,
       1.65763039e-02, 2.14010326e-02, 1.99559177e-02, 7.08504076e-03,
       2.19224494e-02, 1.24562543e-01, 4.27620421e-02, 5.03947970e-02,
       9.68109286e-03, 7.40574838e-03, 4.99864999e-02, 4.21513957e-02,
       2.32162139e-01, 9.75680131e-03, 1.05621310e-01, 2.24833579e-02,
       1.68832385e-02, 4.08786141e-02, 4.10546845e-02, 2.04421894e-02,
       1.49455577e-02, 3.90335850e-02, 5.23891495e-02, 3.74817018e-02,
       1.86562199e-02, 1.21097332e-02, 2.50392233e-02, 7.34489748e-03,
       4.05455958e-03, 5.27540141e-02, 1.38531475e-03, 9.53437740e-03,
       4.15899378e-03, 2.12362789e-02, 3.66952587e-02, 6.53546741e-02,
       9.72297819e-01, 3.43830453e-02, 0.00000000e+00, 1.04430454e-02,
       3.54488941e-02, 3.64969350e-02, 7.88047921e-03, 4.95505995e-02,
       1.12179752e-01, 3.51562028e-02, 0.00000000e+00, 1.89114326e-02,
       2.34333142e-02, 1.50259336e-02, 4.51465626e-02, 1.11645430e-02,
       1.99559177e-02, 7.01399874e-02, 1.19465772e-02, 5.11192670e-02,
       1.60288677e-02, 8.92166623e-03, 1.17801832e-01, 7.22023859e-03,
       3.16959273e-02, 4.64333417e-03, 1.76491466e-02, 4.44052213e-02,
       3.42403676e-02, 1.44720582e-02, 1.08561390e-03, 2.24833579e-02,
       1.51132417e-02, 1.50259336e-02, 2.50629146e-02, 1.66647368e-02,
       6.80107162e-02, 6.17803987e-02, 3.43830453e-02, 1.41192195e-02,
       6.03557245e-02, 1.34588479e-02, 3.41771750e-02, 1.01317214e-01,
       3.57081823e-02, 5.33650595e-02, 8.03363926e-03, 1.19667682e-02,
       1.83803415e-02, 6.58826929e-03, 1.21284817e-01, 4.49219113e-02,
       3.43830453e-02, 7.14112518e-03, 1.56426456e-02, 6.16370622e-02,
       4.27264962e-02, 3.91679248e-03, 1.94299539e-02, 1.31215012e-02,
       5.21274584e-02, 2.55163430e-02, 6.11572439e-02, 1.98574569e-02,
       4.22809377e-03, 8.21719748e-02, 2.85299613e-02, 3.85517108e-02,
       3.24505997e-02, 1.85675521e-03, 1.51123689e-03, 8.02866690e-02,
       0.00000000e+00, 4.73719715e-02, 4.97125551e-03, 5.82932822e-02,
       1.14467246e-02, 4.27501804e-03, 3.48176022e-02, 6.67290926e-02,
       3.49473243e-03, 1.73648068e-03, 2.09926314e-02, 2.92500376e-02,
       1.39489932e-01, 3.45154295e-02, 8.68573180e-02, 6.83443284e-02,
       2.19224494e-02, 2.19368886e-02, 3.91343760e-02, 2.05870742e-02,
       4.42049215e-02, 3.28442619e-02, 3.28211768e-02, 3.59800742e-02,
       2.42069513e-02, 2.59938831e-02, 4.11055869e-02, 2.14223420e-02,
       0.00000000e+00, 1.10882263e-02, 1.86310842e-02, 1.38675216e-02,
       2.68868006e-02, 5.77642532e-02, 1.99330480e-02, 1.56658169e-02,
       2.74526236e-02, 2.74282007e-02, 2.75924640e-02, 1.90051022e-03,
       5.06581332e-03, 3.10135837e-02, 7.24785527e-03, 9.42411437e-03,
       3.30442847e-02, 4.42049215e-02, 5.62693261e-02, 8.78007595e-02,
       3.41899052e-03, 3.65100160e-02, 7.84594120e-02, 1.37955005e-02,
       5.51026465e-02, 3.12071658e-02, 2.84538920e-02, 3.50832970e-02,
       3.10135837e-02, 5.19037403e-03, 7.13965831e-03, 5.73758331e-02,
       1.63743738e-02, 4.59248157e-03, 2.00680436e-02, 2.24833579e-02,
       4.42879992e-02, 5.84204203e-02, 3.43830453e-02, 4.32383549e-03,
       3.51638993e-02, 1.21067950e-02, 7.38048069e-03, 5.46435656e-03,
       3.46371075e-02, 5.13341619e-03, 9.40930649e-03, 3.75115619e-03,
       4.89537488e-02, 3.21884057e-02, 2.60356634e-02, 3.01704941e-02,
       3.43830453e-02, 4.18463595e-02, 3.71669574e-03, 2.57511539e-02,
       4.60406549e-02, 8.51247083e-02, 7.82295180e-03, 1.03649807e-02,
       6.93480681e-03, 5.86251108e-02, 1.03103370e-02, 4.09968046e-02,
       2.02851020e-02, 9.24555692e-03, 6.62243936e-03, 1.69580562e-02,
       0.00000000e+00, 4.53440248e-02, 1.56426456e-02, 2.19784755e-02,
       2.21044650e-02, 0.00000000e+00, 4.03587947e-02, 3.08702881e-02,
       1.88191519e-03, 9.73333581e-03, 1.01731041e-02, 1.94870320e-02,
       5.27261118e-02, 5.40710471e-02, 2.43705566e-02, 1.04811138e-02,
       2.75908663e-02, 4.55250057e-02, 1.34443675e-02, 2.24785203e-02,
       3.40096730e-02, 3.20850337e-02, 3.05427423e-02, 5.20599058e-02,
       8.39584642e-02, 1.01021734e-01, 3.88255210e-02, 3.39778854e-03,
       1.88944469e-02, 8.42615595e-03, 9.42411437e-03, 3.96783296e-02,
       6.95210783e-03, 3.13539287e-02, 1.35697990e-02, 7.75468876e-03,
       2.89876516e-02, 4.92642405e-02, 2.31462761e-02, 3.28442619e-02,
       2.77641389e-02, 4.86989110e-02, 2.07644382e-02, 2.18848152e-02,
       7.69164377e-02, 1.46392817e-02, 1.17056898e-02, 6.78047553e-02,
       3.11051513e-02, 8.16081450e-03, 1.27133114e-02, 3.38350680e-03,
       9.31066849e-03, 3.18981204e-02, 1.01767912e-02, 2.53293742e-02,
       1.08337753e-02, 7.95844752e-03, 9.33577752e-03, 3.43830453e-02,
       1.20036739e-02, 3.43830453e-02, 1.48196591e-02, 1.45243636e-02,
       0.00000000e+00, 3.31629701e-02, 1.23968561e-02, 2.90059241e-02,
       0.00000000e+00, 4.47435730e-03, 1.04444109e-02, 5.29729849e-02,
       1.36231955e-02, 4.06053769e-02, 1.59801842e-02, 3.69596878e-02,
       5.75222803e-02, 3.43071242e-02, 2.07556301e-02, 0.00000000e+00,
       1.02244313e-02, 1.05121195e-02, 1.56587737e-02, 5.06202114e-02,
       5.14622285e-02, 7.57521332e-03, 3.28442619e-02, 3.85746374e-02,
       3.76772334e-02, 1.81903977e-02, 1.98824200e-02, 1.89305002e-02,
       3.84951441e-02, 6.52675642e-03, 3.75200340e-02, 9.78816761e-02,
       1.29400287e-02, 6.20056614e-03, 2.04303709e-02, 0.00000000e+00,
       2.92032271e-02, 6.53976199e-03, 5.27002864e-03, 3.66952587e-02,
       6.00837931e-02, 0.00000000e+00, 4.96895971e-03, 1.74360662e-02,
       1.50502910e-02, 1.10911727e-02, 2.62870288e-02, 6.11228698e-03,
       9.56562944e-02, 2.29133843e-02, 1.00976611e-02, 4.12133322e-02,
       0.00000000e+00, 5.37614807e-03, 1.02227809e-02, 2.24833579e-02,
       2.49909510e-02, 4.34484513e-02, 1.26122962e-03, 2.58445856e-02,
       6.90569980e-03, 1.14614177e-02, 1.95795913e-02, 3.37471600e-02,
       5.52504552e-02, 3.79935525e-02, 1.09102517e-02, 1.24785848e-02,
       3.20299760e-03, 0.00000000e+00, 5.56937691e-03, 1.55280182e-02,
       1.09460217e-02, 1.21251952e-02, 8.14102211e-02, 3.85698927e-02,
       5.26384318e-02, 8.30053887e-03, 9.81660491e-03, 3.60748895e-03,
       3.56979829e-03, 0.00000000e+00, 5.23827678e-03, 1.87264083e-02,
       3.03104773e-02, 3.76644717e-02, 3.58159493e-02, 4.23894927e-02,
       2.20068122e-02, 3.43487580e-02, 3.48838459e-03, 1.11740135e-02,
       3.49668328e-03, 4.59680883e-03, 5.55508747e-02, 4.87800605e-02,
       3.09280582e-02, 9.61993663e-03, 1.59427973e-02, 1.34664166e-02,
       1.07327616e-02, 9.69930431e-03, 5.52061600e-02, 1.72033558e-02,
       1.78910574e-02, 4.99864999e-02, 1.21259899e-02, 3.48184038e-02,
       4.48370982e-02, 8.80988826e-03, 1.08347122e-02, 0.00000000e+00,
       0.00000000e+00, 1.39431574e-02, 3.91539727e-02, 9.30866790e-03,
       1.33646202e-02, 4.80899568e-02, 1.76148448e-02, 2.49013457e-02,
       2.56018366e-03, 1.60752179e-01, 7.68269169e-03, 2.03429063e-02,
       3.73498515e-02, 1.88049225e-03, 0.00000000e+00, 4.72993271e-02,
       1.31179204e-02, 5.07262108e-03, 0.00000000e+00, 2.43097258e-02,
       7.16018712e-03, 3.91905106e-02, 3.87111668e-02, 2.62658098e-02,
       6.10756288e-02, 2.39291282e-02, 1.88578782e-02, 2.23309649e-02,
       3.80271479e-02, 1.62262160e-02, 5.24648388e-03, 8.11835269e-03,
       3.83841680e-03, 1.47386272e-02, 2.07480860e-03, 9.65327796e-02,
       2.18954860e-03, 7.22521546e-03, 9.00478498e-02, 4.81017053e-02,
       2.53314724e-03, 1.28547253e-02, 1.16059394e-02, 2.79616784e-02,
       2.60288799e-02, 1.00016611e-01, 1.15808267e-02, 1.24015068e-02,
       0.00000000e+00, 2.82966951e-02, 6.85035786e-02, 4.43406447e-02,
       6.91910400e-03, 2.53293742e-02, 2.75659502e-03, 1.86772401e-02,
       3.55141637e-02, 7.28558968e-03, 2.74928257e-02, 6.70870518e-02,
       4.12982732e-02, 1.89488318e-02, 8.61497479e-03, 1.78126560e-02,
       5.16071162e-03, 0.00000000e+00, 1.26439121e-02, 3.96617459e-02,
       5.44541796e-02, 1.51733376e-02, 9.68927592e-03, 4.74483594e-03,
       1.90382258e-02, 0.00000000e+00, 1.17685457e-02, 2.92015593e-02,
       7.62705743e-02, 2.50523561e-02, 5.44361444e-02, 2.99641035e-02,
       6.27956531e-03, 4.60322351e-02, 2.43017879e-02, 3.62565222e-02,
       9.94945697e-03, 3.04444311e-02, 2.78058477e-02, 5.64234322e-03,
       3.96921959e-02, 2.45181530e-02, 4.33871186e-02, 9.45842324e-03,
       3.29728533e-02, 1.60992257e-02, 1.87593714e-02, 5.17485354e-03,
       1.61041013e-02, 7.75278805e-03, 5.76052827e-02, 3.49202192e-02,
       5.71965234e-03, 3.18651467e-02, 2.50994291e-03, 4.85593369e-02,
       2.38928234e-02, 2.46677827e-02, 1.47369534e-02, 9.82425069e-03,
       3.88219685e-02, 9.42411437e-03, 4.69345562e-01, 1.66235688e-02,
       7.79551207e-02, 3.10287810e-02, 9.04065528e-02, 1.90334389e-02,
       3.15027540e-02, 1.38132125e-02, 5.75360007e-03, 5.09065595e-02,
       5.05648083e-02, 4.69427697e-02, 0.00000000e+00, 1.45288229e-02,
       5.76052827e-02, 0.00000000e+00, 2.47546877e-02, 2.99853967e-02,
       1.49319852e-02, 4.31286854e-02, 0.00000000e+00, 1.87082364e-02,
       1.91219766e-02, 3.10876196e-02, 5.24194990e-03, 6.48859080e-03,
       8.35217066e-02, 1.26272032e-02, 3.96036621e-02, 2.44347992e-02,
       2.84015483e-02, 4.39325897e-02, 2.53293742e-02, 1.12242689e-02,
       4.15428203e-03, 1.31848838e-02, 2.01396557e-02, 1.56194627e-02,
       0.00000000e+00, 2.69632856e-02, 3.33588125e-02, 4.89033905e-03,
       6.95210783e-03, 2.08812383e-02, 5.93082069e-03, 2.65511788e-02,
       1.81047326e-02, 1.48168076e-02, 1.51695074e-02, 2.63954727e-02,
       3.63185872e-02, 2.24833579e-02, 2.06071219e-02, 6.42583055e-03,
       0.00000000e+00, 1.56860722e-02, 1.11734074e-03, 0.00000000e+00,
       3.67608849e-02, 2.84988463e-02, 3.68412399e-02, 1.77523176e-02,
       2.00327407e-02, 1.42033012e-02, 4.87577603e-02, 1.08561390e-03,
       1.04009465e-02, 3.24444622e-02, 5.38262903e-02, 0.00000000e+00,
       1.09951037e-02, 1.03601851e-02, 1.23089873e-02, 6.02367447e-02,
       2.22229025e-02, 1.18329813e-02, 2.48837348e-02, 1.66014201e-02,
       3.61686773e-02, 4.44917031e-02, 1.04444109e-02, 5.83093146e-02,
       3.10135837e-02, 0.00000000e+00, 8.43602534e-03, 0.00000000e+00,
       2.58214332e-02, 2.62871682e-02, 5.88457912e-04, 5.37816832e-02,
       0.00000000e+00, 1.36671602e-02, 2.99605114e-02, 1.08450639e-02,
       3.96036621e-02, 1.50858394e-01, 3.98685872e-03, 1.54852637e-02,
       7.21330505e-03, 4.42049215e-02, 4.13387542e-02, 8.78655980e-03,
       6.03949392e-02, 1.59806684e-02, 3.28442619e-02, 0.00000000e+00,
       1.61565444e-02, 0.00000000e+00, 4.87959618e-03, 4.90903797e-02,
       4.22953923e-02, 4.53028681e-02, 3.36457120e-02, 3.37628447e-03,
       2.84559395e-03, 1.53796823e-02, 2.87366302e-03, 6.02400461e-02,
       1.38252453e-02, 5.33246555e-02, 4.51495847e-02, 2.68240723e-02,
       1.72608423e-02, 3.20927912e-02, 4.20107996e-02, 0.00000000e+00,
       2.83972260e-02, 1.00251603e-01, 3.93198979e-02, 3.28442619e-02,
       1.44600351e-02, 6.81027650e-03, 3.71347807e-02, 6.44216689e-02,
       3.51241767e-03, 8.97913604e-02, 1.33314196e-02, 4.28667089e-03,
       3.96200984e-02, 8.79208776e-03, 2.59938831e-02, 6.67175635e-03,
       1.86966685e-02, 2.86288439e-02, 9.77745596e-03, 3.32433804e-02,
       6.08896567e-03, 4.42049215e-02, 9.55897808e-03, 3.37471600e-02,
       9.76230179e-03, 2.66483114e-02, 3.22697325e-02, 1.01551329e-02,
       4.62078718e-02, 0.00000000e+00, 7.21098572e-02, 1.91389947e-02,
       4.76939474e-03, 3.96036621e-02, 1.04982517e-01, 3.47123704e-02,
       5.70591788e-02, 3.75322152e-02, 2.54404286e-02, 2.83564450e-02,
       1.17240921e-02, 1.24833585e-02, 4.14069117e-02, 1.12168986e-02,
       0.00000000e+00, 2.21473483e-02, 5.13524879e-03, 5.58768002e-02,
       8.39741233e-02, 4.42049215e-02, 5.57743580e-02, 9.23535093e-03,
       2.30348919e-02, 1.69051598e-02, 3.85746374e-02, 1.81605909e-03,
       1.84889208e-02, 1.47030000e-02, 0.00000000e+00, 2.82006211e-02,
       4.03735026e-02, 4.53674105e-01, 2.83823888e-02, 3.75507722e-02,
       1.40702249e-03, 9.55517629e-03, 3.18509969e-02, 2.23028515e-02,
       2.24833579e-02, 3.05675714e-02, 3.49668328e-03, 3.29917283e-02,
       1.38978571e-02, 1.01156162e-02, 2.11740361e-03, 2.65766766e-02,
       1.81271589e-02, 1.07494752e-02, 1.67585788e-02, 3.83704351e-02,
       9.05140225e-03, 1.04523381e-02, 1.34270407e-02, 3.10964879e-03,
       4.72973426e-02, 4.28352573e-02, 5.43299870e-03, 2.37778119e-03,
       1.94437415e-02, 2.05229184e-02, 3.43830453e-02, 3.98690844e-02,
       5.10752874e-02, 1.18305379e-02, 1.42197290e-02, 1.63630118e-02,
       1.14614177e-02, 1.47386272e-02, 1.31812575e-02, 1.80106129e-02,
       8.91851149e-03, 4.11235486e-02, 2.63499837e-02, 6.17803987e-02,
       2.92817298e-02, 2.19045909e-02, 1.03700106e-02, 3.80354436e-02,
       2.59616737e-02, 1.01639482e-01, 7.83885847e-03, 3.37295842e-02,
       1.22904935e-02, 1.77281002e-02, 2.73447152e-02, 3.05094684e-02,
       3.41556924e-02, 2.35100953e-02, 1.04672426e-02, 4.97807625e-02,
       1.00749032e-02, 1.47386272e-02, 2.53040118e-02, 1.04641080e-02,
       2.08114696e-02, 1.82832201e-02, 5.57046685e-02, 2.40156964e-03,
       7.63988934e-03, 1.06793784e-02, 0.00000000e+00, 1.02413109e-02,
       0.00000000e+00, 3.59987742e-02, 1.42337094e-02, 2.49790638e-02,
       4.66441513e-02, 5.64350651e-02, 1.52213746e-02, 3.43830453e-02,
       1.58169421e-02, 3.42245885e-02, 2.35519712e-02, 5.78705734e-02])

In [64]:
sorted(list(enumerate(similarity[0])), key=lambda x: x[1], reverse=True)[1:20]

[(276, 0.9722978191534403),
 (730, 0.46934556239894065),
 (81, 0.45367410518365264),
 (917, 0.45367410518365264),
 (252, 0.23216213857943935),
 (128, 0.2103412366151445),
 (629, 0.16075217918132761),
 (825, 0.15085839382029045),
 (360, 0.13948993213260905),
 (38, 0.1320341335055304),
 (245, 0.12456254264617571),
 (326, 0.1212848168047901),
 (298, 0.11780183176064217),
 (195, 0.11298471725820095),
 (284, 0.11217975216761909),
 (59, 0.11167276537417432),
 (114, 0.10797827058611764),
 (254, 0.10562131035812325),
 (890, 0.10498251733474127)]

# recommendation system

In [65]:
def recommend(title):

        indx = df[df['Title'] == title].index[0]
        indx = df.index.get_loc(indx)
        distances = sorted(list(enumerate(similarity[indx])), key=lambda x: x[1], reverse=True)[1:20]

        jobs = []
        for i in distances:
            jobs.append(df.iloc[i[0]].Title)
        return jobs

# evalution model

In [66]:
recommend('Administrative Assistant @ OfficeTeam')

['Administrative Assistant @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Administrative Assistant For Non-Profit @ OfficeTeam',
 'Administrative Assistant - Long term potential @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Executive Administrative Assistant @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Part Time Organizational Guru @ OfficeTeam',
 'Sales Assistant @ OfficeTeam',
 'TEMPORARY Administrative Assistant needed ASAP! @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam',
 'Administrative Assistant @ OfficeTeam']

In [67]:
df['Title']

64119                   Site Director @ Knowledge Universe
35827                Administrative Assistant @ OfficeTeam
72100                Account Manager @ CHI Payment Systems
46355    Outside Wholesale Sales Rep (PART-TIME) @ Rive...
34166    Customer Service Rep- Help People with Hearing...
                               ...
66282    Sales Representative / Sales Associate ( Entry...
39515                       Staff Accountant @ Accountemps
69231    Unarmed Security Officer @ US Security Associates
69618    Line Cook @ Crowne Plaza- Independently Owned ...
6144     Kitchen Manager Job Details @ The Artesian Hot...
Name: Title, Length: 1000, dtype: object

# model deployment

In [69]:
import pickle
pickle.dump(df,open('df.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))